.printcontainer {
    border: 1px solid black;
    width: 400px;
    height: 300px;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 12px 8px 10px;
    color: #041C32;
   
}
.row1, .row2, .row3, .row4 {
    font-size: 19px;
    font-weight: 800;
    font-family: Arial;
}

.print-div-handle{
    margin-top: 50px;
    margin-bottom: 145px;
}
.button-click {
    width: 150px;
    border-radius: 10px;
    padding: 5px;
    font-size: 19px;
}
.row1{
    border: 2px solid black;
    padding: 10px;
    padding-top: 20px;
    width: 300px;
    height: 100px;
    font-size: 30px;
    text-align: center
}

@media print {
    
    body * {
        visibility: hidden;
    }
    .button-click{
        visibility: hidden;
    }
    .printcontainer, .printcontainer * {
        visibility: visible;
    }
    .printcontainer {
        margin: 0px;
        margin-left: -180px;
        width: 400px;
        height: 400px;
        padding: 30px;
        color: #041C32;
        border: none;
        margin-bottom: 500px;
        margin-top: -180px;
    }
 
    .row1, .row2, .row3, .row4 {
        font-size: 19px;
        font-weight: 800;
        font-family: Arial;
        
    }

    .print-div-handle {
        margin-top: 50px;
        margin-bottom: 145px;
    }

    .row1 {
        border: 2px solid black;
        margin-top: 40px;
        padding: 10px;
        padding-top: 20px;
        width: 300px;
        height: 100px;
        font-size: 30px;
        text-align: center;
    }

}
